.contactName{
    margin-left: 15px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.contactNumber{
    font-family: Helvetica, sans-serif;
    margin-left: 15px;
    margin-right: 10px;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
}

.contactDelete{
    background-color: rgb(255, 127, 189);
    height: 20px;
    width: 75px;
    margin-left: 15px;
    border-radius: 4px;
}
.contactDelete:hover,
.contactDelete:focus{
    background-color: red;
}

.listContscts{
    width: 100%;
    list-style: square;
}